<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd ">

	<bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor">
	<property name="requiredAnnotationType" value="com.sudheer.common.Mandatory"/>
</bean>
 
	<bean id="CustomerBean" class="com.sudheer.common.Customer">
		<property name="action" value="buy" />
		<property name="type" value="1" />
	</bean>


</beans>