<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd" 
	default-dependency-check="all">
 
	<bean id="CustomerBean" class="com.sudheer.common.Customer">
		<property name="action" value="buy" />
		<property name="type" value="1" />
	</bean>
 
	<bean id="PersonBean" class="com.sudheer.common.Person">
		<property name="name" value="sudheer" />
		<property name="address" value="address ABC" />
		<property name="age" value="29" />
	</bean>
</beans>